<app-navbar></app-navbar>
<h2 class="form-title">Formación y Actualización Profesional Docente</h2>
<img src="TecNM.png" alt="Logo de la Institución" class="logo"> <!-- Ajusta la ruta según tu estructura -->
<!-- Contenido específico para el componente -->
<h1>Bienvenido, Instructor</h1>
<p>Aquí puedes capacitar y realizar otras acciones.</p>
<div *ngIf="curso">
    <h2>Curso Asignado</h2>
    <p><strong>Nombre del curso:</strong> {{ curso.nombre_curso }}</p>
    <p><strong>Periodo:</strong> {{ curso.periodo }}</p>
    <p><strong>Fecha de inicio:</strong> {{ curso.fecha_inicio | date }}</p>
    <p><strong>Fecha de fin:</strong> {{ curso.fecha_fin | date }}</p>
    <p><strong>Lugar:</strong> {{ curso.lugar }}</p>
    <!-- Más información del curso si lo deseas -->
  </div>
  
  <div *ngIf="error">
    <p class="error">{{ error }}</p>
  </div>
  