<div class="encuesta" *ngIf="!encuestaRespondida; else yaRespondida">
    <h2 class="encuesta-title">Encuesta sobre el curso: {{ cursoNombre }}</h2>
    <p class="encuesta-info">Evaluando al maestro con ID: <strong>{{ idMaestro }}</strong></p>
    <h3 class="encuesta-subtitle">Encuesta de la eficacia y de opinión de la capacitación del participante</h3>
    <p class="instruction"><strong>Por favor, selecciona una opción para cada instrucción:</strong></p>

    <p class="rating-scale">
        <strong>1 TOTALMENTE EN DESACUERDO&nbsp;&nbsp;2 PARCIALMENTE EN DESACUERDO&nbsp;&nbsp;3 INDIFERENTE&nbsp;&nbsp;4 PARCIALMENTE DE ACUERDO&nbsp;&nbsp;5 TOTALMENTE DE ACUERDO</strong>
    </p>
    
    <!-- Primer bloque de preguntas -->
    <div class="pregunta-block" *ngFor="let pregunta of preguntas; let i = index">
        <p class="pregunta">{{ pregunta }}</p>
        <div class="options">
            <label *ngFor="let option of [1, 2, 3, 4, 5]">
                <input type="radio" name="pregunta1_{{ i }}" [(ngModel)]="respuestas[i]" [value]="option" />
                {{ option }}
            </label>
        </div>
    </div>

    <h3 class="suggestions-title">SUGERENCIAS PARA MEJORAR LOS CURSOS OFRECIDOS POR EL ITA:</h3>
    <textarea rows="4" cols="50" [(ngModel)]="sugerencias" placeholder="Escribe tus sugerencias aquí" class="suggestions-textarea"></textarea>
    <button (click)="enviarEncuesta()" class="submit-button">Enviar Encuesta</button>
</div>

<ng-template #yaRespondida>
    <p class="thank-you-message">Ya has respondido esta encuesta. Gracias por tu participación.</p>
</ng-template>
