<app-navbar></app-navbar>

<h2 class="form-title">Formación y Actualización Profesional Docente</h2>
<img src="TecNM.png" alt="Logo de la Institución" class="logo">

<h2 class="section-title">Detalles del Curso</h2>
<button (click)="toggleCurso()" class="toggle-button">
  {{ showCurso ? 'Ocultar detalles' : 'Mostrar detalles' }}
</button>

<!-- Se muestran los detalles del curso solo si showCurso es verdadero -->
<div *ngIf="showCurso && curso" class="course-details">
  <p><strong>Nombre del curso:</strong> {{ curso.nombre_curso }}</p>
  <p><strong>Periodo:</strong> {{ curso.periodo }}</p>
  <p><strong>Fecha de inicio:</strong> {{ curso.fecha_inicio | date }}</p>
  <p><strong>Fecha de fin:</strong> {{ curso.fecha_fin | date }}</p>
</div>

<h2 class="section-title">Maestros Inscritos</h2>
<button (click)="toggleMaestros()" class="toggle-button">
  {{ showMaestros ? 'Ocultar pase de lista' : 'Pase de lista' }}
</button>

<!-- Tabla para mostrar maestros solo si showMaestros es verdadero -->
<div *ngIf="showMaestros" class="maestros-list">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Email</th>
        <th>Asistencia</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let maestro of maestros">
        <td>{{ maestro.nombre }}</td>
        <td>{{ maestro.apellidopaterno }}</td>
        <td>{{ maestro.apellidomaterno }}</td>
        <td>{{ maestro.email }}</td>
        <td>
          <input type="checkbox" [(ngModel)]="maestro.asistio" />
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="verificarAsistenciaYaPasada()" class="save-button">Guardar Asistencias</button>
</div>

<p *ngIf="maestros.length === 0 && showMaestros" class="no-maestros">No hay maestros inscritos en este curso.</p>
<p *ngIf="error" class="error">{{ error }}</p>

<!-- Nuevo botón para mostrar la sección de calificaciones -->
<button (click)="toggleCalificaciones()" class="toggle-button">
  {{ showCalificaciones ? 'Ocultar Calificaciones' : 'Agregar Calificaciones' }}
</button>

<!-- Nueva sección para agregar calificaciones -->
<div *ngIf="showCalificaciones" class="calificaciones-section">
  <h2 class="section-title">Agregar Calificaciones</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Calificación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let maestro of maestros">
        <td>{{ maestro.nombre }}</td>
        <td>{{ maestro.apellidopaterno }}</td>
        <td>{{ maestro.apellidomaterno }}</td>
        <td>
          <input type="number" [(ngModel)]="maestro.calificacion" placeholder="Calificación" />
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="guardarTodasLasCalificaciones()" class="save-button">Enviar Todas las Calificaciones</button>
</div>

<h2 class="section-title">Subir Contenidos Temáticos</h2>
<div class="file-upload">
  <input type="file" (change)="onFileSelectedTematico($event)" id="fileInputTematico" />
  <button (click)="onSubmitTematico()" [disabled]="!selectedFileTematico" class="upload-button">Subir Archivo</button>
</div>
<p *ngIf="uploadSuccessTematico === true" class="success-message">Archivo subido con éxito.</p>
<p *ngIf="uploadErrorTematico === true" class="error-message">Error al subir el archivo. Ya has subido los contenidos temáticos de este curso.</p>

<h2 class="section-title">Subir archivo de Evidencias</h2>

<!-- Mensaje de éxito al subir archivo -->
<div *ngIf="uploadSuccess" class="success-message">
  <p>¡Archivo cargado correctamente!</p>
</div>

<!-- Mensaje de error al intentar subir archivo -->
<div *ngIf="uploadError" class="error-message">
  <p>Hubo un error al intentar cargar el archivo. Ya has subido el archivo para este Curso.</p>
</div>

<!-- Formulario de carga de archivo -->
<form (ngSubmit)="onSubmit()" class="upload-form">
  <div class="file-input-container">
    <input type="file" (change)="onFileSelected($event)" class="file-input" />
  </div>
  <button type="submit" [disabled]="!selectedFile" class="submit-button">Subir Archivo</button>
</form>

<!-- Nuevo botón para descargar constancia -->
<h2 class="section-title">Descargar Constancia</h2>
<button (click)="generateConstancia()" class="download-button">Descargar Constancia</button>
