<div>
    <!-- Formulario de cambio de contraseña -->
    <form (ngSubmit)="cambiarContrasena()">
        <label for="nuevaContrasena">Nueva Contraseña:</label>
        <input type="password" id="nuevaContrasena" [(ngModel)]="nuevaContrasena" name="nuevaContrasena" required />

        <button type="submit">Cambiar Contraseña</button>
    </form>

    <!-- Mostrar mensaje de éxito -->
    <div *ngIf="mensajeExito" class="alert alert-success">
        {{ mensajeExito }}
    </div>

    <!-- Mostrar mensaje de error -->
    <div *ngIf="mensajeError" class="alert alert-danger">
        {{ mensajeError }}
    </div>

    <!-- Botón para regresar a la página anterior -->
    <button (click)="volver()">Regresar</button>
</div>