<app-navbar></app-navbar>
<div class="container">
    <h2 class="form-title">Formación y Actualización Profesional Docente</h2>
    <img src="TecNM.png" alt="Logo de la Institución" class="logo">
    <h1 class="welcome">Bienvenido, Administrador</h1>
    
    <div *ngIf="curso" class="course-details">
        <h2>{{ curso.nombre_curso }}</h2>
        <p><strong>Objetivo:</strong> {{ curso.objetivo }}</p>
        <p><strong>Fecha de Inicio:</strong> {{ curso.fecha_inicio | date }}</p>
        <p><strong>Fecha de Fin:</strong> {{ curso.fecha_fin | date }}</p>
        <!-- Agrega otros detalles del curso aquí -->
    </div>

    <div *ngIf="!curso" class="loading">
        <p>Cargando curso...</p>
    </div>

    <div *ngIf="archivos.length > 0" class="files-uploaded">
        <h3>Archivos Subidos:</h3>
        <ul>
            <li *ngFor="let archivo of archivos">
                {{ archivo.nombre_archivo }} -
                <a [href]="'http://localhost:3000/archivos/download/' + archivo.id" target="_blank">Descargar</a>
            </li>
        </ul>
    </div>

    <div *ngIf="archivos.length === 0" class="no-files">
        <p>No se han subido archivos para este curso.</p>
    </div>

    <button class="download-button" (click)="descargarCurso()">DIAGNÓSTICO DE NECESIDADES DE FORMACIÓN Y ACTUALIZACIÓN PROFESIONAL DOCENTE</button>
    <br><button class="download-button" (click)="descargarCurso2()">FICHA TÉCNICA PARA REGISTRO DEL CURSO</button>
    <br><button class="download-button" (click)="descargarCalificaciones()">Descargar Calificaciones</button>
    <br><button class="download-button" (click)="descargarAsistencias()">Descargar Asistencias</button>
    <br><button class="download-button" (click)="descargarInscripcion()">Descargar Lista Inscripcion</button>
    <br><button class="download-button" (click)="descargarEncuestas()">Descargar Encuesta Participante</button>
    <br><button class="download-button" (click)="descargarEncuestasJefe()">Descargar Encuesta Jefatura Academica</button>

</div>
