<app-navbar></app-navbar>

<h1>Bienvenido, Administrador</h1>
<p>Gestiona los usuarios, capacitaciones y más.</p>

<h2>Cursos Propuestos</h2>
<ul>
  <li *ngFor="let curso of cursos">
    <p><strong>Nombre del Curso:</strong> {{ curso.nombre_curso }}</p>
    <p><strong>Asignaturas de Formación:</strong> {{ curso.asignaturas_requeridas }}</p>
    <p><strong>Contenidos Temáticos:</strong> {{ curso.contenidos_requeridos }}</p>
    <p><strong>Número de Docentes:</strong> {{ curso.numero_docentes }}</p>
    <p><strong>Tipo de Asignatura:</strong> {{ curso.tipo_asignatura }}</p>
    <p><strong>Actividad Evento:</strong> {{ curso.actividad_evento }}</p>
    <p><strong>Objetivo:</strong> {{ curso.objetivo }}</p>
    <p><strong>Carreras Atendidas:</strong> {{ curso.carreras_atendidas }}</p>
    <p><strong>Periodo de Formación:</strong> {{ curso.periodo }}</p>
    <p><strong>Facilitadores:</strong> {{ curso.facilitadores_propuestos }}</p>
    <p><strong>Fecha de Inicio:</strong> {{ curso.fecha_inicio | date }}</p>
    <p><strong>Fecha de Fin:</strong> {{ curso.fecha_fin | date }}</p>
    <p><strong>Turno:</strong> {{ curso.turno }}</p>

    <button *ngIf="curso.estado === 'pendiente'" (click)="actualizarEstado(curso.id, 'aceptado')">Aceptar</button>
    <button *ngIf="curso.estado === 'pendiente'" (click)="actualizarEstado(curso.id, 'rechazado')">Rechazar</button>
  </li>
</ul>
