<app-navbar></app-navbar>

<div class="container">
  <h2 class="form-title">Formación y Actualización Profesional Docente</h2>
  <img src="TecNM.png" alt="Logo de la Institución" class="logo">
  <h1 class="welcome-title">Bienvenido, Maestro</h1>
  <p class="intro-text">Explora los cursos disponibles y encuentra el que se ajuste a tus necesidades.</p>

  <ul class="course-list">
    <li class="course-item" *ngFor="let curso of cursos">
      <p><strong>Nombre del Curso:</strong> {{ curso.nombre_curso }}</p>
      <p>
        <strong>Departamentos Relacionados:</strong>
        <span *ngIf="curso.departamentos && curso.departamentos.length > 0">
          {{ curso.departamentos.join(', ') }}
        </span>
        <span *ngIf="!curso.departamentos || curso.departamentos.length === 0">
          No hay departamentos asociados
        </span>
      </p>
      <p><strong>Fecha de Inicio:</strong> {{ curso.fecha_inicio | date }}</p>
      <p><strong>Fecha Final:</strong> {{ curso.fecha_fin | date }}</p>
      <p><strong>Cupo Disponible:</strong> {{ curso.cupo_actual }}</p>
      <button class="btn btn-details" (click)="toggleDetails(curso.id)">
        {{ curso.mostrarDetalles ? 'Ocultar detalles' : 'Ver más detalles' }}
      </button>

      <div *ngIf="curso.mostrarDetalles" class="course-details">
        <p><strong>Asignaturas:</strong> {{ curso.asignaturas_requeridas }}</p>
        <p><strong>Contenidos Temáticos:</strong> {{ curso.contenidos_requeridos }}</p>
        <p><strong>Objetivo:</strong> {{ curso.objetivo }}</p>
        <p><strong>Horario:</strong> {{ curso.horario }}</p>
        <p><strong>Lugar:</strong> {{ curso.lugar }}</p>
        <p><strong>Instructor:</strong> {{ curso.nombre_instructor }} {{ curso.apellidopaterno_instructor }} {{
          curso.apellidomaterno_instructor }}</p>
      </div>

      <div class="button-group">
        <button class="btn btn-inscribe" (click)="inscribir(curso.id)" [disabled]="curso.inscrito">
          Inscribirse
        </button>
        <button class="btn btn-baja" *ngIf="curso.inscrito" (click)="darseDeBaja(curso.id)">
          Darse de Baja
        </button>
        <button class="btn btn-ir" *ngIf="curso.inscrito" (click)="irACurso(curso.id)">
          Ir al Curso
        </button>
      </div>

      <span *ngIf="curso.inscrito" class="inscrito-text">¡Ya estás inscrito en este curso!</span>
    </li>
  </ul>
</div>
