<h2 class="form-title">Formación y Actualización Profesional Docente</h2>
<img src="TecNM.png" alt="Logo de la Institución" class="logo"> <!-- Ajusta la ruta según tu estructura -->
<form (ngSubmit)="register()" class="register-form">
  <h2 class="form-title2">Registro de Usuario</h2>
  
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required>
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
  </div>

  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" required>
  </div>

  <div class="form-group">
    <label for="apellidopaterno">Apellido Paterno:</label>
    <input type="text" id="apellidopaterno" [(ngModel)]="apellidopaterno" name="apellidopaterno">
  </div>

  <div class="form-group">
    <label for="apellidomaterno">Apellido Materno:</label>
    <input type="text" id="apellidomaterno" [(ngModel)]="apellidomaterno" name="apellidomaterno">
  </div>

  <div class="form-group">
    <label for="rol">Rol:</label>
    <select id="rol" [(ngModel)]="rol" name="rol" required>
      <option value="administrador">Administrador</option>
      <option value="jefe">Jefe</option>
      <option value="maestro">Maestro</option>
      <option value="instructor">Instructor</option>
    </select>
  </div>

  <div class="form-group">
    <label for="curp">CURP:</label>
    <input type="text" id="curp" [(ngModel)]="curp" name="curp">
  </div>

  <div class="form-group">
    <label for="rfc">RFC:</label>
    <input type="text" id="rfc" [(ngModel)]="rfc" name="rfc">
  </div>

  <div class="form-group">
    <label for="maxestudios">Máximo Grado de Estudios:</label>
    <select id="maxestudios" [(ngModel)]="maxestudios" name="maxestudios" required>
      <option value="Licenciatura">Licenciatura</option>
      <option value="Maestría">Maestría</option>
      <option value="Doctorado">Doctorado</option>
      <option value="Técnico Superior">Técnico Superior</option>
    </select>
  </div>  

  <div class="form-group">
    <label for="sexo">Sexo:</label>
    <select id="sexo" [(ngModel)]="sexo" name="sexo" required>
      <option value="M">Masculino</option>
      <option value="F">Femenino</option>
    </select>
  </div>

  <div class="form-group">
    <label for="departamento">Departamento Académico:</label>
    <select id="departamento" [(ngModel)]="departamento" name="departamento" required>
      <option value="Ciencias Básicas">Ciencias Básicas</option>
      <option value="Ciencias Económico - Administrativas">Ciencias Económico - Administrativas</option>
      <option value="Desarrollo Académico">Desarrollo Académico</option>
      <option value="Eléctrica - Electrónica">Eléctrica - Electrónica</option>
      <option value="Ingeniería Industrial">Ingeniería Industrial</option>
      <option value="Metal - Mecánica">Metal - Mecánica</option>
      <option value="Sistemas y Computación">Sistemas y Computación</option>
      <option value="Química y Bioquímica">Química y Bioquímica</option>
    </select>
  </div>

  <div class="form-group">
    <label for="tipo_contrato">Tipo de Contrato:</label>
    <select id="tipo_contrato" [(ngModel)]="tipo_contrato" name="tipo_contrato" required>
      <option value="tiempo completo">Tiempo Completo</option>
      <option value="30 hrs">30 hrs</option>
      <option value="20 hrs">20 hrs</option>
      <option value="asignatura">Asignatura</option>
      <option value="honorarios">Honorarios</option>
      <option value="no aplica">No Aplica</option>
    </select>
  </div>
  
  <button type="submit" class="btn">Registrar</button>
</form>
